.side-bar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    border-right-width: 1px;
    border-right-style:  solid;
    border-right-color: rgb(239, 236, 236);

}

.sidebar-link{
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.sidebar-link:hover{
    background-color: lightgrey;
}

.img{
    height: 30px;
    margin-bottom: 4px;
}

.sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 9px;
}

